<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Plain HTML site using GitLab Pages</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
      
      <table class="header">
         <tr>
             <td>
                 <img src="./myimages/wm_no_bg.png" width="200px">
             </td>
         </tr>
         <tr>
             <td bgcolor="#f2f2f2">
                 <h2>All Active Users in instance</h2>
                 <p>
                 <h5>Active users = Total accounts - Blocked users</h5>
                 </p>
             </td>
         </tr>
         <tr>
             <td>
                 <a href="index.html">Back Home</a><br/><br/>
             </td>
             
         </tr>
     </table> 
      
    <script type="text/template" id="temp">
    <div id="totalCount"></div>
      <table class="results">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>Last Sign on</th>
            <th>Last Activity</th>
            <th>Admin</th>
        </tr>
            
          {{#.}}
          <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{state}}</td>
          <td>{{last_sign_in_at}}</td>
          <td>{{last_activity_on}}</td>
          <td>{{is_admin}}</td>
          </tr>
          {{/.}}
          
      </table>
      </script>
      
      
      <div id="nameOutput"></div>
      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
      <!--<script src="loadCallback.js"></script>-->
      
      <script>
          let nameTemp = document.getElementById("temp").innerHTML;
          let url = 'https://gitlab.i2p.online/api/v4/users?active=true&per_page=100&private_token=3zxi_PxFQ4arj-DGBQCw&order_by=last_sign_in_at&sort=asc';

            fetch(url)
            .then(res => res.json())
            .then((out) => {
                let output = Mustache.render(nameTemp, out);
                //console.log('Checkout this JSON! ', out);
                document.getElementById("nameOutput").innerHTML = output;
                document.getElementById("totalCount").innerHTML = 'Active User Count: '+out.length;
                })
            .catch(err => { throw err });
          
          
      </script>
      
      <!--
      let nameTemp = document.getElementById("temp").innerHTML;
    //console.log (data);
    
    let output = Mustache.render(nameTemp, data);

    document.getElementById("nameOutput").innerHTML = output;

      -->
      
      
      <!--<script src="loadJSON.js"></script>-->
      
     
      
      
      
    <!-- <div class="navbar">
      <a href="https://pages.gitlab.io/plain-html/">Plain HTML Example</a>
      <a href="https://gitlab.com/pages/plain-html/">Repository</a>
      <a href="https://gitlab.com/pages/">Other Examples</a>
    </div>

    <h1>Hello World!</h1>
    <BR>
        <Table>
            <TR>
                <TD></TD>
                <TD></TD>
                <TD><img src="./myimages/Greg_Brady.png"></TD>
            </TR>
            <TR>
                <TD></TD>
                <TD></TD>
                <TD><img src="./myimages/Peter_brady.png"></TD>
            </TR>
            <TR>
                <TD></TD>
                <TD><img src="./myimages/Mr_Brady.jpg"></TD>
                <TD><img src="./myimages/Bobby_Brady.png"></TD>
            </TR>
        </Table>
        -->
        
        
        
     <!--   <img src="./myimages/brady-bunch-opening-sequence.jpg">
   <img src="/myimages/nachos.jpg">
    <img src="nachos.jpg">
    <img src="public/myimages/nachos.jpg">
    <img src="/public/myimages/nachos.jpg">
    <img src="./public/myimages/nachos.jpg">-->

    <!--<p>
      This is a simple plain-HTML website on GitLab Pages, without any fancy static site generator.
    </p>-->
  </body>
</html>

