body {
  font-family: arial;
  margin: auto;
  max-width: 1280px;
  background-color: white;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table{
    border-collapse: collapse;
    width:100%;
}

.results{
    border: 2px solid black;
}
.results th,td {
    border: 2px solid black;
}

.results tr:nth-child(even) {
    background-color: #f2f2f2;
    
}

.header td, th{
    border: 0px;
}

td{
    padding:8px;
}

th{
    text-align:center;
    padding:8px;
}



