<!DOCTYPE html>
<HTML>
    <HEAD>
            <title>JSON Users with Mustache</title>
    </HEAD>
<BODY>
    
    <script type="text/template" id="temp">
        
        {{#userarray}}
        
            <h1>{{username}}</h1>
        
        {{/userarray}}
        
    </script>
    
    <div id="nameOutput"></div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://gitlab.i2p.online/api/v4/users"></script>
    
    

</BODY>
</HTML>